[submodule "API"]
  path = API
  url = https://github.com/Gutismall/MarketAPI.git

[submodule "Dashboard"]
  path = Dashboard
  url = https://github.com/Gutismall/Market-Dashboard.git

[submodule "MarketSDK"]
  path = MarketSDK
  url = https://github.com/Gutismall/Market-Android-Library.git

[submodule "MyApplication"]
  path = MyApplication
  url = https://github.com/Gutismall/Market-Demo-Appliction.git